/hesa-llm-visualisation/data/raw_files/*
!/hesa-llm-visualisation/data/raw_files/.gitkeep

/hesa-llm-visualisation/data/cleaned_files/*
!/hesa-llm-visualisation/data/cleaned_files/.gitkeep

/hesa-llm-visualisation/data/reports/*
!/hesa-llm-visualisation/data/reports/.gitkeep

/hesa-llm-visualisation/data/figures/*
!/hesa-llm-visualisation/data/figures/.gitkeep

/hesa-llm-visualisation/data/examples/*
!/hesa-llm-visualisation/data/examples/.gitkeep

/hesa-llm-visualisation/data/demo/*
!/hesa-llm-visualisation/data/demo/.gitkeep


/hesa-llm-visualisation/data/cache/*
!/hesa-llm-visualisation/data/cache/.gitkeep


venv/
mydata.txt
developer_guide.txt
notes.txt
project_plan.txt
structure.txt
plan.txt
documentation.txt
project_info
db.sqlite3
.env
node_modules/
*.log
*.pyc
__pycache__/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
.cursorrules
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
core/static/css/tailwind.css
core/static/src/main.css

# Django
staticfiles/

# Jupyter notebooks
.ipynb_checkpoints

# Test & coverage
.coverage
htmlcov/
.pytest_cache/

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store