/hesa-llm-visualisation/data/raw_files/*
!/hesa-llm-visualisation/data/raw_files/.gitkeep

/hesa-llm-visualisation/data/cleaned_files/*
!/hesa-llm-visualisation/data/cleaned_files/.gitkeep

venv/
mydata.txt
notes.txt
db.sqlite3
.env
node_modules/
*.log
*.pyc
pycache/

# Node
node_modules/
core/static/css/tailwind.css

# Django
staticfiles/